
 
        
 body{
    background-color:grey;
    text-align: center;
  
        
    
}
 
h1{
    color: lightcoral;
    font-style: initial;
    font-family:Franklin Gothic Medium;

}
h2{
color: blue;
}
